<h1>Create New Issue</h1>

<form action="/issue" method="POST">
    <input type="text" name="description" placeholder="description"/>
    <input type="number" name="createdAt" placeholder="createdAt"/>
    <input type="text" name="status" placeholder="status"/>
    <input type="text" name="priority" placeholder="priority"/>
    
    <input type="submit" value="create"/>

</form>